#container
{
    height: 600px;
    width:800px;
    background-color: lightblue;
}
#header
{
    width:800px;
    height:100px;
    background-color: blue;
    float:left;
    text-align:justify;

}
#main
{
    width:400px;
    height:500px;
    background-color: lightgreen;
    float:left;
}
#sidePanel
{
    width:400px;
    height:500px;
    background-color: lightsalmon;
    float:left;
    text-align:justify;
}